<h2>N O O G L E</h2>

<form action="<%= search_url %>" method="post">
  <input type="text" name="search">
  <br>
  <input type="submit" value="Noogle Search">
  <input type="submit" value="I'm Feeling Lucky">
</form>